<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error ocurred!</h1>
    <p>Working on it. Sorry for the inconvinience</p>
<%- include('includes/end.ejs') %>